<!DOCTYPE html>
<html lang="es">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Politicas | SIM</title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Estilos -->
    <link href="{% static 'core/css/business-casuall.css' %}" rel="stylesheet">
    
    <!-- Bootstrap -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Sistema de Informacion Minera</span>
      <span class="site-heading-lower">SIM</span>
    </h1>

        <!-- Navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
          <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="index.html">SIM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'about' %}">¿Quienes somos?</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'services' %}">Servicios</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'store' %}">Visitanos</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'contact' %}">Contactanos</a>
                </li>
                <li class="nav-item px-lg-4">
                  <a class="nav-link text-uppercase text-expanded" href="{% url 'organigramas' %}">Organigrama</a>
                </li>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Politicas Generales</span>
                <span class="section-heading-lower">SIM APP</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  1. . El documento con la descripción de los usos permitidos y no permitidos debe estar disponible en todo momento para cualquier parte interesada de la compañía. Es conveniente que esta esté publicada en la intranet o disponible en una carpeta compartida en un formato legible y no editable.
                  <span class="ml-auto"> </span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  2. Será necesario asignar la responsabilidad de la gestión del documento a una persona de la compañía con conocimientos suficientes para establecer dicha política. Será conveniente también que conozca los requisitos de seguridad de la organización para validar que todas las directrices establecidas pueden ser puestas en marcha y se ajusta a la red operativa existente.
                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  3. Es importante reunirse con los responsables de departamento de la compañía para realizar una reflexión sobre las necesidades de cada uno y alinear la política con todas ellas, permitiendo así adaptar unas directrices que permitan un desarrollo fluido y eficaz de todas las actividades y servicios que ofrece la compañía.

                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  4. Especifique, en base a la clasificación de la información predefinida en su compañía, como se debe utilizar el correo electrónico, las impresoras y fotocopiadoras, que está permitido enviar/imprimir y/o copiar y bajo que condiciones de seguridad es necesario realizarlo, especificando que contenidos no pueden ser tratados a través de la red de Internet.Tenga en cuenta las posibles vulnerabilidades que tiene la red de su compañía investigando los diferentes datos y consejos proporcionados por las autoridades competentes, realizando así una política que se ajuste tanto a las necesidades de la empresa como a las últimas actualizaciones y tendencias.

                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  5. Formalice, finalmente, una política de uso de Internet firmada y validada por la Dirección que asegure un respaldo de las medias establecidas y las partes interesadas perciban la importancia que tiene.

                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  6. Tenga en cuenta las posibles vulnerabilidades que tiene la red de su compañía investigando los diferentes datos y consejos proporcionados por las autoridades competentes, realizando así una política que se ajuste tanto a las necesidades de la empresa como a las últimas actualizaciones y tendencias.

                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  7. En caso de realizar los cambios en la política de uso de Internet será necesario evaluar siempre el impacto que tendrá sobre la compañía la realización de cualquier cambio y garantizando que todas las modificaciones realizadas llegarán al conocimiento de todas las partes interesadas.

                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  8. Deje claro cuales serán las medidas a adoptar en caso de incumplimiento o violación de cualquier aspecto indicado en la política.

                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  9. Intente proteger todas las redes y conexiones a Internet, tanto para dispositivos internos como externos, prohibiendo el acceso a aquellos sitios web no permitidos, instalando en todos los dispositivos un antivirus además de uno o varios cortafuegos en la estructura de red de la empresa.

                  <span class="ml-auto"></span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  10. Informe a los usuarios que el uso de la red interna de la compañía solo podrá ser utilizada para fines profesionales, especificando a qué sitios web está permitido acceder a través de la red.

                  <span class="ml-auto"></span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>Ubicados en: Av. 5, Cúcuta, Norte de Santander</strong>
                  <br>
                  Cucuta, Norte de Saantander
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Whatsap para denunciar anonimamente a cualquier usuario que incumpla las politicas de la empresa. </em>
                </small>
                <br>
                316-5082-123

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

   <!-- Pié de página -->
   <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </p>
        <p class="m-0 mbt">
          <a href="{% url 'politicas' %}" class="link">Politicas</a> ·
        	<a href="{% url 'politicas' %}" class="link">Aviso Legal</a> ·
        	<a href="{% url 'politicas' %}" class="link">Cookies</a> ·
          <a href="{% url 'politicas' %}" class="link">Otros</a> 
        </p>
        <p class="m-0 mbt1">&copy; Sistema de Informacion Minero</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
